node_modules*
npm-debug.*
*.jks
*.p8
*.p12
*.key
*.mobileprovision
*.orig.*
web-build/
web-report/
src/firebase_account.json
.idea/
.DS_Store
*.expo/
package-lock.json
/.vs/VSWorkspaceState.json
/.vs/slnx.sqlite
/.vs/ProjectSettings.json
/.vs/nuMom/v17/.wsuo
/.vs/nuMom/v17
/.vs/nuMom/FileContentIndex/read.lock
/.vs/nuMom/FileContentIndex/c49a8f81-877c-4597-9b18-89089abded28.vsidx
/.vs/nuMom/FileContentIndex/aaae19a2-57f7-4afb-9de7-557a387a72a0.vsidx
/.vs/nuMom/FileContentIndex/329cd523-d9d9-4145-b16c-96f744fc8bb1.vsidx
/.vs/nuMom/FileContentIndex/0d815f0a-7251-4a8f-b504-e8956485a33b.vsidx
/.vs/nuMom/FileContentIndex
/.vs/nuMom/config/applicationhost.config
/.vs/CMakeWorkspaceSettings.json
